<link rel="stylesheet" href="{{ url_for('static', filename='/css/contacto2.css')}}">

{% extends "base/base.html" %}
{% import "bootstrap/wtf.html" as wtf %} <!-- Importamos bootstrap -->

{%block head%}
<!-- acá iría el script del captcha si es que yo lo usara -->
{%endblock%}

{% block title %}Contacto{% endblock %}
{%block columna8 %}
<div class ="container-fluid" id="formulario">
    <div class = "title-neon" >
        <h3>Enviar mensaje a través del espacio</h3>
        <p class="mb-4"></p>
        <p class = "p-neon">Seguro tenemos mucho de que hablar! Puedes contactarme a través del siguiente formulario:</p>
        <br>
    </div>
<!--Aquí estaba el formulario HTML anteriormente, en contacto.html-->
</div>
<!-- colocamos el form con WTForms pero SIN Quick_Form para poder retocarlo con CSS-->
<div class="row">
    <div class="col-sm-10 ml-auto mr-auto">
        <form action = "/contacto2" method = "post" class = "form-horizontal">
            {{ form.csrf_token() }}
            {{ wtf.form_field(form.name, class='form-control', placeholder='Nombre') }}
            {{ wtf.form_field(form.email, class='form-control', placeholder='Email') }}
            {{ wtf.form_field(form.message, class='form-control', placeholder='Tu mensaje') }}
            <div align = "right">
                <a href="#"><button type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Enviar!
                </button></a>
            </div>
        </form>
</div>
{%endblock %}

{% block columna4 %}
{% endblock %}