<link rel="stylesheet" href="{{ url_for('static', filename='/css/contacto.css')}}">

{% extends "base/base.html" %}    <!--Significa que el archivo index se extiende a partir de base.html, es decir, es su hija-->

{%block head%}
<!-- acá iría el script del captcha si es que yo lo usara -->
{%endblock%}

{% block title %}Contacto{% endblock %}    <!--Se indica qué título mostrar-->

{% block columna8 %}    <!--Aquí el contenido a mostrar-->
<br>
<!--Colocamos un form elegido de la página de bootstrap-->
<form method="post" action="/contacto" class="form-horizontal" id="formulario">
    <div class="form-group row">
        <label for="nombre_contacto" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nombre_contacto" placeholder="Nombre">
        </div>
    </div>
    <div class="form-group row">
        <label for="email_contacto" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" name="email_contacto" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
        <label for="mensaje_contacto" class="col-form-label id="comentario">Dejanos tus comentarios</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="mensaje_contacto" rows="4">
        </div>
    </div>



    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </div>
</form>
{% endblock %}

{%block columna4%}
{%endblock%}